.sectionTitle {
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.divSection {
    margin: 0 auto;
    padding: 0 auto;
    border-radius: 0%;
    box-shadow: none;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}